body {
    margin: 100px;
    border: 1px solid black;
    padding: 0;
}

a.ancla1 {
    margin: 100px;
    border: 50px solid orange;
    padding: 25px;
    background-color: yellow;
    display: inline-block
}

a.ancla2 {
    margin: 100px;
    border: 50px solid orange;
    border-radius: 20px;
    padding: 25px;
    background-color: cyan;
    display: inline-block;
}